.section3 {
  margin-top: 5em;
  background-color: rgb(15, 16, 50);
  position: relative;
}

.background {
  width: 100%;
  transition: 0.5s ease-in;
  opacity: 0.1;
}

.image-container {
  position: relative;
}

.text-overlay1 {
  position: absolute;
  top: 0%;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: opacity 0.5s ease-in;
  opacity: 0.1; /* Initially hide the text */
}

.text-overlay2 {
  position: absolute;
  top: 0%;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transition: opacity 0.5s ease-in;
  opacity: 0.1; /* Initially hide the text */
}

.text-overlay3 {
  position: absolute;
  font-weight: bold;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  transition: opacity 0.5s ease-in;
  opacity: 0.1; /* Initially hide the text */
}

.textAround {
  width: 60%;
}

.headingText {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 3.5em;
}

.paraText {
  margin-top: 1em;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 100%;
}

.fade-in {
  opacity: 1;
  backdrop-filter: blur(2px);
}

.arrows {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0%;
  height: 100%;
  opacity: 5%;
  transition: 0.2s ease-in-out;
  align-items: center;
}

.arrows:hover {
  opacity: 37%;
}

.arrowLeft {
  margin-left: 2%;
  opacity: 40%;
  transition: 0.3s ease-in-out;
  width: 4em;
}

.arrowRight {
  margin-right: 2%;
  opacity: 40%;
  transition: 0.3s ease-in-out;
  width: 4em;
}

.arrowLeft:hover {
  opacity: 90%;
}

.arrowRight:hover {
  opacity: 90%;
}

@media (max-width: 800px) {
  .text-overlay1 {
    padding: 2em;
    position: absolute;
    top: 0%;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: opacity 0.5s ease-in;
    /* Initially hide the text */
  }

  .text-overlay2 {
    padding: 2em;
    position: absolute;
    top: 0%;
    font-weight: bold;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: opacity 0.5s ease-in;
    /* Initially hide the text */
  }

  .text-overlay3 {
    padding: 2em;
    position: absolute;
    top: 0%;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: opacity 0.5s ease-in;
    /* Initially hide the text */
  }

  .headingText {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 2.5em;
  }

  .textAround {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrows {
    display: none;
  }
}

@media (max-width: 500px) {
  .arrows {
    display: none;
  }
}

@media (max-width: 400px) {
  .headingText {
    font-size: 1.5em;
  }

  .paraText {
    font-size: 80%;
  }
}
