.Logo {
  background-image: url("../../../Images/Logo.png");
  background-size: contain; /* or "cover" depending on your needs */
  background-repeat: no-repeat;
  background-position: left top; /* or adjust as needed */
  height: 50px; /* Adjust height as needed */
  width: 100%;
}

.LogoText {
  margin-top: -0.4em;
  margin-left: 8px;
  font-weight: bold;
}

.text {
  color: #2444b4;
}
