/* LoginForm.css */

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.login-form {
  background-color: #fbfbfb;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 8px rgba(0, 0, 0, 0.2);
  width: 20em;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #6aa1ee;
  border-radius: 10px;
  margin-top: 10px;
}

.form-group input:focus {
  border-color: #2444b4;
  color: #2444b4;
}

button {
  width: 65%;
  padding: 10px;
  background-color: #69a5e7;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.text {
  color: #2444b4;
  margin-top: 12px;
}

.small_text {
  font-size: smaller;
}

.loginHeaderSection {
  margin-bottom: 20px;
}

#username::placeholder {
  color: #9eacde; /* Set placeholder text color with transparency */
}

#password::placeholder {
  color: #9eacde; /* Set placeholder text color with transparency */
}

.submitButton {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.ButtonArea {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forgotPasswordText {
  margin-top: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.forgotPasswordText:hover {
  color: #6385a8;
}

.formBelowText {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.SignUpFooter {
  display: flex;
  justify-content: center;
  background-color: #ecf3fc;
  margin-top: auto;
  margin-bottom: 0px;
  align-items: center;
  padding: 7px;
  border-radius: 8px;
}

.SignUpFooterText {
  font-size: medium;
  margin-left: 30px;
  margin-bottom: 0px;
}

.SignUpFooterContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 65%;
  height: 100%;
  padding: 2px;
  box-sizing: border-box;
  padding: 0px;
  z-index: -1;
}

.SignUpFooterContainerMain {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) and (max-height: 600px) {
  .SignUpFooterContainer {
    margin-top: 8px;
    position: relative;
  }
}

@media (max-width: 500px) {
  .SignUpFooterContainer {
    width: 100%;
  }
}
